html,
body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    min-height: 90vh;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --rows: 5;
    --cols: 6;
    --block-width: min(calc(90vw / (var(--cols) + 1)), calc((100vh - 270px) / (var(--rows) + 1)));
}

.state-interface {
    display: none;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#loadFile label {
    max-width: 600px;
    margin: auto;
    padding: 8px 16px;
    display: inline-block;
    cursor: pointer;
    background: #027ef2;
    font-weight: 500;
    color: white;
}

#loadFile input {
    display: none;
}

#loadFile label:hover {
    background: #0284c0;
}

pre {
    display: none;
    background: white;
    padding: 36px 1rem 1rem;
    white-space: pre-wrap;
    position: relative;
    min-width: 300px;
    min-height: 100px;
}

pre::before {
    content: 'Instructions';
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 0;
    width: 100%;
    border-bottom: 1px solid #999;
    text-align: center;
}

#zone {
    box-shadow: 0px 1px 3px #999;
    border-radius: 3px;
    height: calc(var(--block-width) * var(--rows));
    width: calc(var(--block-width) * var(--cols));
    position: relative;
    background-color: white;
    background-size: var(--block-width) var(--block-width);
    background-image:
        linear-gradient(to right, #EEEEEE 1px, transparent 1px),
        linear-gradient(to bottom, #EEEEEE 1px, transparent 1px);
}

#tank {
    width: var(--block-width);
    height: var(--block-width);
    position: absolute;
    bottom: calc(var(--bottom) * var(--block-width));
    left: calc(var(--left) * var(--block-width));
    transition: all .5s linear;
}

#tank .wrapper {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#tank .body {
    display: flex;
    width: 75%;
    height: 75%;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#tank .body:before {
    content: '';
    width: 5%;
    height: 40%;
    background: blue;
}

#tank .body:after {
    content: '';
    width: 50%;
    height: 50%;
    background: blue;
}

#tank .tracks {
    display: flex;
    width: 75%;
    height: 75%;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
}

#tank .tracks:before {
    content: '';
    width: 25%;
    height: 90%;
    background: blue;
}

#tank .tracks:after {
    content: '';
    width: 25%;
    height: 90%;
    background: blue;
}

#controllers button {
    font-size: 22px;
    margin: 12px 8px 0;
    padding: 6px 16px;
    cursor: pointer;
}

#location {
    padding-top: 24px;
    color: white;
}